#dashboard{
    overflow: auto;
    padding: 30px;
    background: lightblue;
}


@media (max-width: 576px){
    #dashboard{
        height: calc(100vt - 120px);
    }
}

@media (min-width: 576px){
    #dashboard{
        height: 100vh;
    }
}