<div class="container">

    <!-- Me abre la ventana addproducto, recordar que el nombre es como se llama
    el selector de AddproductoComponent o en el app.routing -->
    <button class="btn btn-info" type="button" [routerLink]="['/add-productos']">Nuevo producto</button>	

    <input type="text" class="form-control" name="filterProducto" [placeholder]="'label.3.characters' | translate"
    [(ngModel)]="filterProducto">

    <table class="table table-success table-striped">
        <!-- Titulos -->
        <thead>
            <tr>
				<!-- el productos que esta dentro del appSort es la lista-->
                <th scope="col" [appSort]="productos" data-order="desc" data-name="id">Id
                    <i class="fa fa-arrow-circle-down"></i>
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="codigo">Código
                    <i class="fa fa-arrow-circle-down"></i>
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="nombre">Nombre
                    <i class="fa fa-arrow-circle-down"></i>
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="costo">Costo
                    <i class="fa fa-arrow-circle-down"></i>		
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="precio">Precio
                    <i class="fa fa-arrow-circle-down"></i>		
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="existencia">Existencia
                    <i class="fa fa-arrow-circle-down"></i>		
                </th>
                <th scope="col" [appSort]="productos" data-order="desc" data-name="iva">Iva
                    <i class="fa fa-arrow-circle-down"></i>
                </th>                
                <th scope="col" [appSort]="productos" data-order="desc" data-name="fechaIngreso">Fecha ingreso
                    <i class="fa fa-arrow-circle-down"></i>		
                </th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>                           
            </tr>
        </thead>
        <!-- Detalle aqui con ese filter permite buscar por nombre -->
        <tbody>
            <tr *ngFor="let producto of productos | paginate: { itemsPerPage: itemsPage, currentPage: page} | filterproducto: filterProducto">
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.codigo}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.costo}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.existencia}}</td>
                <td>{{producto.iva}}</td>                
                <td>{{producto.fechaIngreso}}</td>												
                <!-- Cuando presione Editar en esta vista hace routerLink a addestudiante con el parametro 
                    estudiante.id y alla en addestudiante abre y ejecutar en ngOnit que posteriormente
                    hace el cargar que es el metodo que carga datos a esa pantalla -->
                <td> 
                    <button type="button" name="button" class="btn btn-primary" 
                        [routerLink]="['/add-productos/', producto.id]">Editar
                    </button>
                </td>   
                    
                <!-- Este Td lo ingresa bien en la tabla -->    
                <td>
                    <!-- En el borrar se le pasa el objeto estudiante(model) que esta definido en este component.ts
                        por eso arriba se utiliza -->
                    <button type="button" name="buttoneliminar" class="btn btn-danger" (click)="delete(producto)">
                        Eliminar
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Paginación si es menor itemsPage al largo de categorias lo muestra
    sino no -->
    <div class="row" *ngIf="itemsPage < productos.length">
        <div class="col-12 text-center">
            <pagination-controls (pageChange)="page = $event" [previousLabel]="'label.previous' | translate"
                [nextLabel]="'label.next' | translate">
            </pagination-controls>
        </div>
    </div>

</div>   